// colors c-
$c-white: #d9d9d9;
$c-black: #151515;
$c-blue: #000005;
$c-background: #000003;

// fonts f-
$f-light: "Montserrat Light", sans-serif;
$f-regular: "Montserrat Regular", sans-serif;
$f-semi-bold: "Montserrat Semi Bold", sans-serif;
$f-bold: "Montserrat Bold", sans-serif;

// breakpoints bp-
$bp-tablet: 580px;
$bp-desktop: 1024px;
$bp-desktop-l: 1440px;
